@import "./base.css";

#app {
  background: #eaeaea;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.header {
  background: #16abf8;
}

.header h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content h2 {
  color: #333;
  font-weight: 800;
  font-size: 2.25rem;
}

.btn-default {
  background: #16abf8;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.2rem 1.5rem;
  border-radius: 35px;
  cursor: pointer;
}

.btn-default .icon {
  padding-right: 0.5rem;
  font-size: 1.5rem;
}

.btn-default p {
  margin: 0;
}

.content {
  text-align: center;
  padding: 3rem 0;
}

.modal h1.modal-title {
  color: #333;
  font-weight: 600;
  font-size: 1.125rem !important;
}

.modal form .form-label {
  font-size: 0.75rem;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}

@media (hover: hover) {
  a:hover {
    background-color: #0d8ed1;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
